body{
    background-color: rgb(250, 201, 128);
}

.outer{
    display: flex;
    justify-content: center;
}

.inner{
	width: 50%;
	font-family: sans-serif;
    margin-top: 5%;
}
.list{
    background-color: rgb(205, 213, 255);
    border: 6px ridge rgba(47, 83, 245, 0.6);
    padding: 5px;
}
.list_lable{
	font-family: sans-serif;
    font-weight: bold;
    font-size: larger;
    text-align: center;
}

.row {
    display: inline-block;
    border: 2px solid black;
    margin: 1px;
}
.checkbox_row {
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
}
